*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.raw.gz filter=lfs diff=lfs merge=lfs -text
tool/**/openshift-*-linux-*.tar.gz filter=lfs diff=lfs merge=lfs -text
scos.raw.gz filter=lfs diff=lfs merge=lfs -text
